.loading {
  /* position: absolute;
  top: 50%;
  left: 50%; */
}
.loadingBar {
  display: inline-block;
  width: 3px;
  margin: auto 1px;
  height: 10px;
  animation: loading 1s ease-in-out infinite;
}
.loadingBar:nth-child(1) {
  background-color: #fff;
  animation-delay: 0;
}
.loadingBar:nth-child(2) {
  background-color: #fff;
  animation-delay: 0.12s;
}
.loadingBar:nth-child(3) {
  background-color: #fff;
  animation-delay: 0.24s;
}
.loadingBar:nth-child(4) {
  background-color: #fff;
  animation-delay: 0.36s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 1.6);
  }
  40% {
    transform: scale(1);
  }
}
